@using System.Linq.Expressions
@typeparam TValue
@inherits InputBase<string>
<div>
    <input class="app-text-field-input"
           placeholder="@Label"
           id="Id"
           @bind="@CurrentValue" ></input>
    <ValidationMessage For="For"></ValidationMessage>
</div>
@code {

    [Parameter, EditorRequired] public Expression<Func<TValue>> For { get; set; } = default!;
    [Parameter] public string? Id { get; set; }
    [Parameter, EditorRequired] public string Label { get; set; } = string.Empty;

    protected override bool TryParseValueFromString(string? value, out string result, out string validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }

}
