.app-exam-notification-flex {
    gap: 90px;
}

    .app-exam-notification-flex > .landing-text {
        width: auto;
        height: 603px;
    }

.landing-text > .landing-text-header {
    font-size: 3rem;
    line-height: 3.6rem;
    color: #FFFFFF;
    font-variation-settings: 'slnt' 0;
}

.landing-text > .landing-text-subtext {
    color: white;
}

.app-en-gap {
    gap: 20px;
}

.app-exam-notification-container {
    background-color: #FFFFFF;
    width: auto;
    max-width: min(430px, 100%);
    height: min-content;
    border-radius: 1.5rem;
    padding: 30px;
    margin-top: 113px;
    margin-bottom: 113px;
}

::deep .app-exam-notification-image {
    border-radius: 20px !important;
    width: 100% !important;
    height: 190px !important;
}

::deep .carousel-indicators {
    position: unset;
}

    ::deep .carousel-indicators > button {
        border: 0.69px solid #8B8B8B;
        border-radius: 9px;
        width: 9px;
        height: 9px;
    }

    ::deep .carousel-indicators > .active {
        background: #8B8B8B;
    }

::deep .carousel-caption > p {
    min-height: calc(1.5rem * 2); /* Ensure the div has the height of 3 lines of text */
    max-height: calc(1.5rem * 2); /* Prevent the div from growing beyond 3 lines */
    overflow: hidden; /* Hide any overflowing content if text goes beyond 3 lines */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media(max-width: 960px) {
    .app-exam-notification-container {
        padding: 20px;
        border-radius:12px;
    }

    ::deep .app-exam-notification-image {
        border-radius: 12px !important;
        height: 96px !important;
    }

    ::deep .carousel-caption > p {
        min-height: calc(1.2rem * 2); /* Ensure the div has the height of 3 lines of text */
        max-height: calc(1.2rem * 2); /* Prevent the div from growing beyond 3 lines */
    }
}
