
.alert-img {
    width: 100% !important;
    height: 415px !important;
    object-fit: cover !important;
    object-position: center !important;
}

.mud-grid-item {
    height: unset !important;
}

.gap-5 {
    gap: 20px !important;
}

p {
    color: #222222 !important;
}

@media (max-width: 960px) {
    .alert-img {
        height: 161px !important;
    }

    p,h2{
        text-align: center !important;
    }
}
