@using Learning.Web.Client.Components.Controls.Actions
<style>
	:root {
		--mud-default-borderradius: var(--app-mud-default-borderradius);
	}
</style>
<span>
	<MudDialog Class="mx-8 ma-md-0 w-100" ContentClass="ma-0 pa-0 relative">
		<DialogContent>
			<div class="d-flex flex-column mx-5 my-7 ma-md-20">
				<div class="d-flex flex-column align-center gap-4 gap-md-5">
					<h2>@Title</h2>
					<p class="px-8">@Description</p>
					<div class="d-flex flex-column flex-md-row w-100 gap-2 gap-md-4">
						<AppButton Text="Cancel" OnClick="Cancel" FullWidth ButtonType="AppButton.AppButtonType.Secondary" />
						<AppButton Text="@ConfirmText" OnClick="Submit" FullWidth />

					</div>
				</div>
			</div>

			<MudIconButton Icon="@Icons.Material.Filled.Close"
						   Class="absolute end-0 top-0 ma-5 ma-md-8"
						   OnClick="Cancel"></MudIconButton>
		</DialogContent>
	</MudDialog>
</span>

@code {
	[CascadingParameter]
	private MudDialogInstance? MudDialog { get; set; }

	[Parameter]
	public string Title { get; set; } = string.Empty;

	[Parameter]
	public string Description { get; set; } = string.Empty;

	[Parameter]
	public string ConfirmText { get; set; } = "Confirm";

	private void Submit() => MudDialog!.Close(DialogResult.Ok(true));

	private void Cancel() => MudDialog!.Cancel();
}
