@using Learning.Web.Components.Layouts
@page "/error/attempt-exceeded"
@layout UserSessionLayout
<div class="d-flex flex-column h-100 w-100 justify-center align-center">
	<h1 class="text-center">Oops, The page is not available now.<br /> Please try again after sometime.</h1>
</div>

@code {

}
