<div class="d-flex justify-start gap-2">
    <MudImage Src="@Icon" Width="24" />
    <a class="app-contact-text" href="@Href">@Text</a>
</div>

@code {
    [Parameter, EditorRequired]
    public string? Icon { get; set; }
    [Parameter, EditorRequired]
    public string? Text { get; set; }

    [Parameter]
    public string? Href { get; set; }
}