<Learning.Web.Client.Components.Pages.General.AppContainer BackgroundImage="/assets/images/homepage/footer_bg.jpg">
    <div class="d-flex flex-column flex-sm-row justify-space-between px-4 py-10 pb-13 px-sm-18 py-sm-20 mt-sm-10">
        <div class="d-flex flex-column flex-sm-row flex-sm-wrap gap-6 justify-center align-center justify-sm-start">
            <div style="width: 100%" class="d-flex justify-center justify-sm-start">
                <MudImage Src="/assets/images/bts_icon.svg" Width="64" Class=""></MudImage>
            </div>
            <div class="d-flex flex-column flex-sm-row gap-6">

                <FooterAddressComponent Header="Address 1">
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                </FooterAddressComponent>
                <FooterAddressComponent Header="Address 2">
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                </FooterAddressComponent>
            </div>
        </div>
        <div style="margin-top: 127px;" class="d-flex flex-column gap-6 flex-sm-row flex-sm-wrap justify-end">
            <FooterContactComponent Icon="@GlyphIcons.Whatsapp" Text="90234 23922" Href="https://wa.me/9023423922?text=Hello" />
            <FooterContactComponent Icon="@GlyphIcons.Mail" Text="btsacademy@gmail.com" Href="mailto:btsacademy@gmail.com" />
            <FooterContactComponent Icon="@GlyphIcons.PhoneDialer" Text="90234 23922" Href="tel:+919023423922" />
        </div>
    </div>
</Learning.Web.Client.Components.Pages.General.AppContainer>