<MudStack Row AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudImage Src="@Icon" Width="24" />
    <a href="@Href">@Text</a>
</MudStack>

@code {
    [Parameter, EditorRequired]
    public string? Icon { get; set; }
    [Parameter, EditorRequired]
    public string? Text { get; set; }

    [Parameter]
    public string? Href { get; set; }
}