::deep .section-1-text {
    font-family: var(--ff-700);
    font-size: 1rem;
    color: #FFFFFF;
}

.section-3-header {
    font-family: var(--ff-700);
    font-size: 1.125rem;
    color: #FFFFFF;
}
.section-3-text {
    font-family: var(--ff-500);
    font-size: 1rem;
    color: #FFFFFF;
}

::deep .mud-nav-link {
    padding: 2px !important;
}

::deep .mud-nav-link-text {
    margin-left: 0px !important;
}
