
.logo {
    height: 66px; /* Adjust the height as needed */
    width: auto;
    margin-right: 22px;
    margin-left:22px;
    padding:4px;
}

.logo-text {
    color: white !important;
}
.gap {
    gap: 35px;
}
.mud-primary-text {
    color: white !important;
}


::deep .app-nav-item {
    text-transform: none !important;
    color: #757575 !important;
    font-family: var(--ff-700) !important;
    font-size: 1.125rem !important;
    line-height: 1.6rem !important;
    width: auto !important;
    height: 100% !important;
    align-items: center !important;
}
::deep .mud-nav-link.active {
    color: #4F76DC !important;
}

::deep .app-nav-banner-text {
    font-family: var(--ff-700) !important;
    font-size: 1.5rem !important;
    color: #222222;
}

::deep .mud-appbar {
    background-color: #E9E9E9 !important;
}

@media (max-width: 960px) {
    .logo {
        height: 36px; /* Adjust the height as needed */
        width: auto;
        margin-right: 16px;
        margin-left: 13px;
        padding: 4px;
    }


    ::deep .app-nav-banner-text {
        font-size: 0.875rem !important;
    }

    ::deep .mud-icon-button {
        color: #222222 !important;
    }
}