<!-- Footer -->
<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">

            <!-- Contact Information -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact Us</h5>
                <p>Company Name</p>
                <p>1234 Street Address, City, State, ZIP</p>
                <p>Phone: (123) 456-7890</p>
                <p>Email: <a href="mailto:info@company.com" class="text-white">info@company.com</a></p>
                <div>
                    <a href="https://www.facebook.com" class="text-white me-4">Facebook</a>
                    <a href="https://www.twitter.com" class="text-white me-4">Twitter</a>
                    <a href="https://www.linkedin.com" class="text-white me-4">LinkedIn</a>
                    <a href="https://www.instagram.com" class="text-white me-4">Instagram</a>
                </div>
            </div>

            <!-- Navigation Links -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Quick Links</h5>
                <p><a href="/about" class="text-white">About Us</a></p>
                <p><a href="/contact" class="text-white">Contact Us</a></p>
                <p><a href="/services" class="text-white">Services</a></p>
                <p><a href="/products" class="text-white">Products</a></p>
                <p><a href="/blog" class="text-white">Blog</a></p>
                <p><a href="/careers" class="text-white">Careers</a></p>
                <p><a href="/sitemap" class="text-white">Sitemap</a></p>
            </div>

            <!-- Legal Information -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Legal</h5>
                <p><a href="/privacy-policy" class="text-white">Privacy Policy</a></p>
                <p><a href="/terms-of-service" class="text-white">Terms of Service</a></p>
                <p><a href="/cookie-policy" class="text-white">Cookie Policy</a></p>
                <p><a href="/disclaimer" class="text-white">Disclaimer</a></p>
            </div>

            <!-- Additional Resources -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Resources</h5>
                <p><a href="/faq" class="text-white">FAQs</a></p>
                <p><a href="/support" class="text-white">Customer Support</a></p>
                <p><a href="/download-app" class="text-white">Download Our App</a></p>
                <p><a href="/subscribe" class="text-white">Subscribe to Newsletter</a></p>
            </div>

            <!-- Company Information -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">About Company</h5>
                <p>We are a company committed to providing the best services and products to our customers. Our mission is to ...</p>
                <a href="/about"><img src="/images/logo.png" alt="Company Logo" class="img-fluid"></a>
            </div>

        </div>

        <!-- Footer Bottom -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-start">© 2024 Company Name. All rights reserved.</p>
            </div>

            <!-- Utility Links -->
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-end">
                    <a href="/login" class="text-white me-4">Login</a>
                    <a href="/logout" class="text-white me-4">Logout</a>
                    <a href="/account" class="text-white me-4">Manage Account</a>
                    <a href="/language" class="text-white">Language</a>
                </div>
            </div>
        </div>
    </div>
</footer>