

h1 {
    text-align: center;
    color: #FFFFFF;
}

.app-contact-us-form {
    gap: 40px;
}

@media (max-width: 960px){
    .app-contact-us-header {
        font-size: 1.5rem !important;
        font-family: var(--ff-600) !important ;
    }
}