<Learning.Web.Client.Components.Pages.General.AppContainer BackgroundColor="#000000" 
    >
    <div class="d-flex justify-center align-stretch align-stretch cover-main-container">
        <MudGrid Justify="Justify.Center" Class="align-center h-100 ma-0">
            <MudItem xs="12" md="7" Class="overflow-hidden h-100 w-100 pa-0 relative d-flex align-stretch">
                <video autoplay muted src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
                    
                </video>
                <div class="absolute app-video-shader"/>
            </MudItem>

            <MudItem xs="12" md="5" Class="pa-4 pl-md-0 pt-md-15 pb-md-15 pr-md-15">
                <MudStack Justify="Justify.Center" Spacing="4">
                    <h2 class="app-text-center">
                        BTS: Where aspiration
                        meets the result!!
                    </h2>
                    <p class="app-text-center">
                        Step into BTS Defence Academy, where dreams of wearing the nation's uniform take flight. We’re not just an academy—we’re a powerhouse of preparation, designed to mold the next generation of India’s finest defenders
                    </p>
                </MudStack>
            </MudItem>
        </MudGrid>
    </div>
</Learning.Web.Client.Components.Pages.General.AppContainer>
@code {

}
