<Learning.Web.Client.Components.Pages.General.AppContainer BackgroundColor="#000000" 
    >
    <div class="d-flex justify-center align-stretch align-stretch cover-main-container">
        <MudGrid Justify="Justify.Center" Class="align-center h-100 ma-0">
            <MudItem xs="12" md="7" Class="overflow-hidden h-100 w-100 pa-0 relative d-flex align-stretch">
                <div id="carouselVideoPreview" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <video autoplay muted src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" />
                        </div>
                        <div class="carousel-item">
                            <video autoplay muted src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" />
                        </div>
                        <div class="carousel-item">
                            <video autoplay muted src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" />
                        </div>
                    </div>
                </div>

                <div class="absolute app-video-shader"/>
            </MudItem>

            <MudItem xs="12" md="5" Class="pa-4 pl-md-0 pt-md-15 pb-md-15 pr-md-15">
                <MudStack Justify="Justify.Center" Spacing="4" Class="text-center">
                    <h2 class="app-text-center">
                        BTS: Where aspiration
                        meets the result!!
                    </h2>
                    <p class="app-text-center">
                        Our mentors with their broad spectrum of experience are committed to guiding the energy and passion of young blood of the country in the direction of nation building and national security
                    </p>
                </MudStack>
            </MudItem>
        </MudGrid>
    </div>
</Learning.Web.Client.Components.Pages.General.AppContainer>
@code {

}
