
body{
    height: 100vh;
}

.admin-nav-bar {
    overflow-x:hidden;
}

.admin-nav-bar-panel {
    height: 100%;
    border-radius: 0px;
    background-color: var(--mud-palette-background-grey);
}

.mud-grid {
    height: 100%;
}

.mud-grid-item {
    height: 100%;
    overflow-y: auto;
}