:root {
    --mud-palette-black: yellow;
}

body{
    height: 100vh;
}

.admin-nav-bar {
    overflow-x:hidden;
}

.admin-nav-bar-panel {
    height: 100%;
    border-radius: 0px;
    background-color: var(--mud-palette-background-grey);
}