
p {
    line-height: 1.21rem;
    font-size: 1rem;
    font-family: var(--ff-500)
}

@media (max-width: 960px){

    h4 {
        font-size: 1.125rem;
        line-height: 1.6rem;
    }

    p {
        font-size: 0.75rem;
        line-height: 1.2rem;
    }
    ::deep .app-ab-us-card {
        background: #FFFFFFCC !important;
    }
}

