@using Learning.Web.Client.Components.Controls.Containers
<PlainCard>
    <MudStack Style="gap: 15px !important">
        <MudImage Width="48" Src="@Icon"></MudImage>
        <h4>@Heading</h4>
        <p>
            @Subtext
        </p>
    </MudStack>
</PlainCard>

@code {
    [Parameter, EditorRequired]
    public string Icon { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Heading { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Subtext { get; set; } = string.Empty;
}
