.app-base-container {
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.app-container-translucent {
    --component-height:min(80vh, 570px) !important; 
    padding: 0px;
    min-height: var(--component-height);
    background: #00000066;
}
