<div class="app-base-container"
     style="background: url('@BackgroundImage');">
    <div class="app-container-translucent">
        @ChildContent
    </div>
</div>
@code {
    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string BackgroundImage { get; set; } = string.Empty;
}
