.app-base-container {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: min(80vh, 570px);
}

.app-container-translucent {
    padding: 113px;
    height: 100%;
    width: 100%;
    background: #00000066;
}
