@rendermode InteractiveServer
<MudPaper Elevation="0" Style="height: 100%">
    <MudStack Justify="Justify.SpaceBetween" Style="height: 100%">
        <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
            <MudNavGroup Title="Administration">
                <MudNavLink Href="/admin/courses">Manage Courses</MudNavLink>
                <MudNavLink Href="/admin/classes">Manage Classes</MudNavLink>
                <MudNavLink Href="/admin/subjects">Manage Subjects</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Account">
                <MudNavLink Href="/admin/manage/publicusers">User Accounts</MudNavLink>
            </MudNavGroup>
        </MudNavMenu>
        <div>
            <AuthorizeView Policy="@PolicyConstant.AdminPolicy">
                <Authorized>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="" />
                        <MudButton Variant="Variant.Text"
                                   ButtonType="ButtonType.Submit"
                                   StartIcon="@Icons.Filled.Logout"
                                   Style="text-transform:none;">
                            Logout
                        </MudButton>
                    </form>
                </Authorized>
            </AuthorizeView>
        </div>
    </MudStack>

</MudPaper>

