
<MudAppBar Color="Color.Primary" Fixed="false">
    <MudText Typo="Typo.h6">Elite Learning</MudText>
    <MudSpacer></MudSpacer>
    <AuthorizeView Roles="@PolicyConstant.UserPolicy">
        <Authorized>
            <MudButtonGroup Color="Color.Transparent" Variant="Variant.Outlined" OverrideStyles=false>
                <MudButton Color="Color.Dark" Variant="Variant.Filled" Class="text-white"
                 >@("Hi, " + context.User.Identity.Name)</MudButton>
                <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="" />
                    <MudButton ButtonType="ButtonType.Submit" Class="text-white" Variant="Variant.Outlined">
                            Logout
                        </MudButton>
                    </form>
            </MudButtonGroup>
            
        </Authorized>
        <NotAuthorized>
            <MudButton Href="Account/Login" Variant="Variant.Filled" Color=Color.Dark Class="text-white">Login</MudButton>
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>