@using Learning.Web.Client.Components.Controls.Actions
<style>
    :root {
        --mud-default-borderradius: 24px !important;
    }

</style>
<span>
    <MudDialog Class="mx-8 ma-md-0 w-100" ContentClass="ma-0 pa-0 relative">
        <DialogContent>
                <div class="d-flex flex-column mx-5 my-7 ma-md-20">
                    <div class="d-flex flex-column align-center gap-5">
                        <h2>@ModelExamName</h2>
                        <p class="px-8">@ModelExamDescription</p>
                        <AppButton Text="Start Exam" OnClick="Submit" FullWidth />
                     </div>
                 </div>

             <MudIconButton Icon="@Icons.Material.Filled.Close"
                            Class="absolute end-0 top-0 ma-5 ma-md-8"
                            OnClick="Cancel"></MudIconButton>
         </DialogContent>
     </MudDialog>
 </span>

 @code {
    [CascadingParameter]
    private MudDialogInstance? MudDialog { get; set; }

    [Parameter]
    public string ModelExamName { get; set; } = string.Empty;

    [Parameter]
    public string ModelExamDescription { get; set; } = string.Empty;

    private void Submit() => MudDialog!.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog!.Cancel();
}
