::deep .mud-icon-root.mud-svg-icon {
    fill: #6C6C6C !important;
}

.app-timer {
    color: #1E1E1E;
    font-family: var(--ff-700);
    font-size: 0.875rem;
    line-height: 1.4rem;
    text-align: left;
    align-self: center;
}

.app-question-label {
    font-family: var(--ff-700);
    font-size: 0.875rem;
    line-height: 1.4rem;
    text-align: left;
    color: #444444;
    margin: 0px;
}

    .app-question-label > span {
        font-family: var(--ff-700);
        font-size: 0.625rem;
        line-height: 0.9375rem;
        text-align: left;
        color: #444444;
        margin: 0px;
    }

