@page "/model-exams/order-success"
@using Learning.Web.Client.Contracts.Services.ExamNotification
@inject IModelExamDataService ModelExamDataService

<AppPage Class="d-flex flex-column flex-grow-1">
	<MudContainer Class="flex-grow-1 d-flex flex-column flex-grow-1">

		@if (false)
		{
			<BeginModelExamSessionLoaderComponent />
		}
		else
		{
			<div class="my-10 my-md-17"></div>
		}
	</MudContainer>
</AppPage>
@code {
	[SupplyParameterFromQuery]
	public long ModelExamOrderId { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var order = await ModelExamDataService.CompleteModelExamOrder(ModelExamOrderId, Shared.Common.Enums.OrderStatusEnum.Success);
		if(order.IsSuccess){
			// TODO: Do something
		}
	}
}
