@page "/exam-notifications"
@using Learning.Business.Dto.Notifications.ExamNotification
@using Learning.Business.Requests.Notifications.ExamNotification
@using MediatR
@inject IMediator Mediator
<MudContainer Class="mt-10">
    <MudGrid>
        <MudItem xs="12">
            <MudText Typo="Typo.h4" Align="Align.Center"><b>Exam Notifications</b></MudText>
            <MudDivider />
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex flex-wrap gap-5 justify-center">
                @foreach (var notification in _examNotifications)
                {
                    <MudPaper Class="rounded-lg" Style="width: 300px; overflow: hidden; background-color: #F5F5F5" Elevation="5">
                        <MudStack Spacing="0">

                            <MudImage Src="@notification.ImageAbsPath" ObjectFit="ObjectFit.Cover">
                            </MudImage>
                            <div class="text-center">
                                @if (notification.ValidTill.HasValue)
                                {
                                    <MudText Class="relative pa-2 rounded-lg" Style="top: -10px;background-color:#F5F5F5;" Typo="Typo.caption" Align="Align.Center">
                                        <b>
                                            @notification.ValidTill?.ToShortDateString()
                                        </b>
                                    </MudText>
                                }
                                else
                                {
                                    <MudText Class="relative pa-2 rounded-lg" Style="top: -10px;background-color:transparent;color:transparent" Typo="Typo.caption" Align="Align.Center">
                                        placeholder
                                    </MudText>
                                }
                            </div>

                            <MudText Typo="Typo.h6" Align="Align.Center">
                                <b>@notification.Title</b>
                            </MudText>
                            <MudButton Color="Color.Primary"
                                       Href="@($"/exam-notifications/{notification.Id}/apply")">
                                <b>APPLY</b>
                            </MudButton>
                        </MudStack>
                    </MudPaper>
                }
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private ExamNotificationCardItemDto[] _examNotifications = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _examNotifications = await Mediator.Send(new ActiveExamNotificationsQuery());
        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo("/error");
        }
    }
}
