:root {
    --gray-50: #F5F5F5;
    --red-light-1: #f1e1e1;
    --green-light-1: #eaf9ea;
    --green-gray-50: #f5f5f5;
    --green-gray-200: #dfe9df;
    --mud-appbar-height: 99px !important;
}

.active-link-class {
    background-color: red;
}

.mud-appbar {
    background-color: #2A2A2A45 !important;
}


.app-nav-item {
    height: 100% !important;
    text-transform: none !important;
}

.mud-main-content {
    height: 100vh !important;
    padding-top: 0px !important;
}

.mud-button-no-hyperlink:hover {
    text-decoration: none;
    color: inherit;
}

.no-link {
    text-decoration: none !important;
    color: inherit !important;
}

.validation-message {
    color: red !important;
    padding-top: 5px !important;
    font-size: 12px !important;
}


@media (max-width: 600px) {
    :root {
        --mud-appbar-height: 60px !important;
    }
}

