@model UserRegisterModel
<h1>Hi! Register your account</h1>
<!-- Your registration form HTML goes here -->
<form asp-controller="UserRegistration" asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
    </div>
    <!-- Form fields for registration -->
    <button type="submit">Register</button>
</form>
@{
}
